.banner-principal { background: #E9EBED; }
.banner-principal .container { display: flex; align-items: center; }
@media (max-width: 767px) { .banner-principal .container { flex-direction: column; } }
.banner-principal .left { width: 55%; padding-right: 60px; }
@media (max-width: 767px) { .banner-principal .left { width: 100%; padding-right: 0; margin-top: 0; margin-bottom: 15px; } }
.banner-principal .right { width: 45%; }
@media (max-width: 767px) { .banner-principal .right { width: 100%; } }
.banner-principal p { font: 18px/28px "Montserrat", sans-serif; letter-spacing: 1.4px; }
@media (max-width: 767px) { .banner-principal p { font: 14px/24px "Montserrat", sans-serif; } }
.banner-principal p strong { position: relative; font-weight: normal; z-index: 9; }
.banner-principal p strong:after { content: ""; width: 100%; height: 10px; display: inline-block; background: #FFA000; position: absolute; left: 0; top: 60%; z-index: -9; transition: 0.3s; }
.banner-principal .contact { display: flex; align-items: center; justify-content: flex-start; margin-top: 60px; }
@media (max-width: 767px) { .banner-principal .contact { margin-top: 30px; flex-wrap: wrap; } }
.banner-principal .contact form { border-radius: 34px; border: 1px solid #B5B5B5; border-color: #FF6D00; overflow: hidden; display: flex; margin-right: 30px; background: #fff; position: relative; }
@media (max-width: 767px) { .banner-principal .contact form { width: 100%; margin-right: 0; margin-bottom: 15px; } }
.banner-principal .contact form .msg-success, .banner-principal .contact form .msg-error { width: 100%; position: absolute; left: 0; top: 100%; height: 100%; display: flex; align-items: center; justify-content: center; background: #ff6d00; color: white; font-size: 13px; font-weight: 600; transition: .3s; transform: translateY(0%); }
.banner-principal .contact form .msg-success.active, .banner-principal .contact form .msg-error.active { transform: translateY(-100%); }
.banner-principal .contact form input { font: italic 14px/24px "Montserrat", sans-serif; letter-spacing: 0.8px; border: 0; padding: 0 15px; width: 180px; }
@media (max-width: 767px) { .banner-principal .contact form input { font: italic 12px/22px "Montserrat", sans-serif; width: 145px; } }
.banner-principal .contact form .btn { border-top-left-radius: 0px; border-bottom-left-radius: 0px; }
@media (max-width: 767px) { .banner-principal .contact a { width: 100%; text-align: center; } }

.cases h3 { text-align: center; margin-bottom: 45px; }
@media (max-width: 767px) { .cases h3 { margin-bottom: 15px; } }
.cases .cases-principais { position: relative; margin: 0 90px; }
@media (max-width: 767px) { .cases .cases-principais { margin: 0; } }
.cases .cases-principais .swiper-slide { opacity: 0; }
.cases .cases-principais .swiper-slide.swiper-slide-active { opacity: 1; }
.cases .cases-principais .case { display: flex; align-items: center; justify-content: flex-start; height: auto; }
@media (max-width: 767px) { .cases .cases-principais .case { flex-direction: column; } }
.cases .cases-principais .case.swiper-slide-active .image img { transform: scale(1); }
.cases .cases-principais .case .image { width: 28%; margin-left: 5%; z-index: 9; }
@media (max-width: 767px) { .cases .cases-principais .case .image { width: 100%; margin-left: 0; display: none; } }
.cases .cases-principais .case .image img { transform: scale(0.845); transition: 0.8s; transition-delay: 0.3s; border-radius: 15px; }
@media (max-width: 767px) { .cases .cases-principais .case .image img { border-bottom-right-radius: 0; border-bottom-left-radius: 0; } }
.cases .cases-principais .case .text { padding: 20px 60px 20px 60px; background: #FFA000; color: #fff; position: absolute; width: 100%; padding-left: 38%; border-radius: 15px; min-height: 350px; display: flex; flex-direction: column; align-items: flex-start; justify-content: center; }
@media (max-width: 767px) { .cases .cases-principais .case .text { position: relative; border-top-left-radius: 0; border-top-right-radius: 0; padding: 30px; height: 100%; border-radius: 15px;  } }
.cases .cases-principais .case .text img { margin-bottom: 15px; max-width: 100px; max-height: 75px; }
.cases .cases-principais .case .text p{text-align: justify;}
.cases .cases-principais .case .text p ~ a { font: 600 14px/24px "Montserrat",sans-serif; margin-top: 10px; position: relative; }
.cases .cases-principais .case .text a:hover{ color: #263238; }
.cases .cases-principais .case .text a:hover:after{ background: #263238; }
.cases .cases-principais .case .text p ~ a:after { content: ''; display: block; width: 100%; height: 2px; position: absolute; left: 50%; bottom: -5px; background: #ffffff; transform: translateX(-50%); transition: .3s; }
.cases .cases-principais .swiper-button-prev, .cases .cases-principais .swiper-button-next { width: 60px; height: 60px; background: #fff; display: flex; align-items: center; justify-content: center; border-radius: 50%; margin-top: 0; box-shadow: 0px 3px 6px #00000029; transition: .3s; }
@media (max-width: 767px) { .cases .cases-principais .swiper-button-prev, .cases .cases-principais .swiper-button-next { width: 30px; height: 30px; } }
.cases .cases-principais .swiper-button-prev:after, .cases .cases-principais .swiper-button-next:after { font-size: 24px; color: #FF6D00; }
@media (max-width: 767px) { .cases .cases-principais .swiper-button-prev:after, .cases .cases-principais .swiper-button-next:after { font-size: 15px; } }
.cases .cases-principais .swiper-button-prev.swiper-button-disabled, .cases .cases-principais .swiper-button-next.swiper-button-disabled { opacity: 0; }
.cases .cases-principais .swiper-button-prev { left: 0; transform: translateX(-50%) translateY(-50%); }
.cases .cases-principais .swiper-button-prev:hover { transform: translateX(-50%) translateY(-50%) scale(1.05); }
.cases .cases-principais .swiper-button-next { right: 0; transform: translateX(50%) translateY(-50%); }
.cases .cases-principais .swiper-button-next:hover { transform: translateX(50%) translateY(-50%) scale(1.05); }
.cases .cases-principais .swiper-pagination { bottom: -20px; left: 50%; transform: translateX(-50%); }
@media (max-width: 767px) { .cases .cases-principais .swiper-pagination { bottom: -25px; width: 100%; } }
.cases .cases-principais .swiper-pagination .swiper-pagination-bullet { width: 15px; height: 15px; margin-right: 10px; border: 1px solid #B5B5B5; border-width: 3px; border-color: #FFA000; opacity: 1; background: transparent; }
@media (max-width: 767px) { .cases .cases-principais .swiper-pagination .swiper-pagination-bullet { width: 10px; height: 10px; border-width: 2px; } }
.cases .cases-principais .swiper-pagination .swiper-pagination-bullet:hover { transform: scale(1.05); }
.cases .cases-principais .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active { background: #FFA000; }
.cases .outros-cases { position: relative; margin: 60px 90px; margin-bottom: 0; }
@media (max-width: 767px) { .cases .outros-cases { margin: 30px 0; } }
.cases .outros-cases .case { display: flex; align-items: center; justify-content: center; width: auto; height: auto; }
.cases .outros-cases .case:hover img:first-child { display: block; }
.cases .outros-cases .case:hover img:last-child { display: none; }
.cases .outros-cases .case img { max-height: 35px; max-width: 150px; transition: .3s; }
.cases .outros-cases .case img:first-child { display: none; }
.cases .outros-cases .case img:last-child { display: block; }
.cases .outros-cases .swiper-button-prev, .cases .outros-cases .swiper-button-next { width: 40px; height: 40px; background: #fff; display: flex; align-items: center; justify-content: center; border-radius: 50%; margin-top: 0; box-shadow: 0px 3px 6px #00000029; transition: .3s; }
@media (max-width: 767px) { .cases .outros-cases .swiper-button-prev, .cases .outros-cases .swiper-button-next { width: 30px; height: 30px; } }
.cases .outros-cases .swiper-button-prev:after, .cases .outros-cases .swiper-button-next:after { font-size: 12px; color: #FF6D00; }
@media (max-width: 767px) { .cases .outros-cases .swiper-button-prev:after, .cases .outros-cases .swiper-button-next:after { font-size: 8px; } }
.cases .outros-cases .swiper-button-prev.swiper-button-disabled, .cases .outros-cases .swiper-button-next.swiper-button-disabled { opacity: 0; }
.cases .outros-cases .swiper-button-prev { left: -25px; transform: translateX(-50%) translateY(-50%); }
.cases .outros-cases .swiper-button-prev:hover { transform: translateX(-50%) translateY(-50%) scale(1.05); }
.cases .outros-cases .swiper-button-next { right: -25px; transform: translateX(50%) translateY(-50%); }
.cases .outros-cases .swiper-button-next:hover { transform: translateX(50%) translateY(-50%) scale(1.05); }

.por-que { display: flex; align-items: flex-start; justify-content: space-between; position: relative; padding: 90px; margin: 90px; color: #263238; }
@media (max-width: 767px) { .por-que { flex-direction: column; margin: 0; padding: 0; } }
.por-que .img, .por-que .text { width: calc(58% - 30px); }
@media (max-width: 767px) { .por-que .img, .por-que .text { width: 100%; } }
.por-que .img { position: relative; padding-bottom: calc(52% - 30px); height: 0; overflow: hidden; }
.por-que .img img { position: absolute; left: 0; top: 0; width: 100%; height: 100%; object-fit: contain; opacity: 0; transition: .3s; }
.por-que .img img.active { opacity: 1; }
.por-que .background { position: absolute; left: 0; top: 0; width: 100%; height: 100%; z-index: -9; }
.por-que .background svg { width: 100%; height: 100%; fill: #F3F3F3; }
.por-que .text { width: calc(42% - 30px); }
@media (max-width: 767px) { .por-que .text { width: 100%; padding: 30px; background: #F3F3F3; } }
.por-que .text .tab { border-bottom: 1px solid #B5B5B5; border-color: #fff; padding: 15px 0; }
.por-que .text .tab.active p { display: block; }
.por-que .text .tab h5 { cursor: pointer; }
.por-que .text .tab p { display: none; margin-top: 15px; }

.atributos { margin-bottom: 90px; }
.atributos h3 { margin-bottom: 15px; text-align: center; }
.atributos .container > p { max-width: 625px; margin: 0 auto; margin-bottom: 60px; text-align: center; font: 16px/26px "Montserrat", sans-serif; }
.atributos .content { display: flex; align-items: flex-start; justify-content: center; flex-wrap: wrap; margin: -25px; }
@media (max-width: 767px) { .atributos .content { margin: 0px; } }
.atributos .content .atributo { width: 33.33%; text-align: center; padding: 30px; margin-bottom: 30px; }
@media (max-width: 767px) { .atributos .content .atributo { width: 100%; padding: 15px 0; } }
.atributos .content .atributo .icon { width: 67px; height: 67px; margin-bottom: 15px; }
.atributos .content .atributo h5 { margin-bottom: 15px; }
.atributos .content .atributo p { max-width: 425px; font: 16px/26px "Montserrat", sans-serif; }
@media (max-width: 767px) { .atributos .content .atributo p { font: 14px/24px "Montserrat", sans-serif; } }
.atributos .btn { margin: 0 auto; margin-top: 30px; display: block; width: max-content; }
@media (max-width: 767px) { .atributos .btn { margin-top: 15px; } }

.depoimentos { margin: 0 90px; overflow: hidden; }
@media (max-width: 767px) { .depoimentos { margin: 0; } }
.depoimentos .swiper-container { overflow: initial; }
@media (max-width: 767px) { .depoimentos .swiper-container { width: 100%; } }
.depoimentos .container { padding-right: 0%; padding-left: 0%; width: 90%; }
.depoimentos .swiper-slide { opacity: 0; height: auto; }
.depoimentos .swiper-slide.swiper-slide-active, .depoimentos .swiper-slide.swiper-slide-next { opacity: 1; }
@media (max-width: 767px) { .depoimentos .swiper-slide.swiper-slide-next, .depoimentos .swiper-slide.swiper-slide-next + .swiper-slide { opacity: 0; } }
.depoimentos .title { display: flex; align-items: center; justify-content: center; margin-bottom: 45px; }
@media (max-width: 767px) { .depoimentos .title { flex-wrap: wrap; margin-bottom: 15px; } }
.depoimentos .title h3 { font: bold 45px/55px "Montserrat", sans-serif; text-transform: uppercase; max-width: 470px; z-index: 9; width: 40%; }
@media (max-width: 767px) { .depoimentos .title h3 { font: bold 20px/30px "Montserrat", sans-serif; margin-right: 0px; width: 100%; } }
.depoimentos .title img { width: 60%; }
@media (max-width: 767px) { .depoimentos .title img { width: 100%; } }
.depoimentos .carrossel-depoimentos { position: relative; padding-top: 50px; width: 60%; }
@media (max-width: 767px) { .depoimentos .carrossel-depoimentos { padding-top: 40px; width: 100%; } }
.depoimentos .carrossel-depoimentos .icon { width: 180px; height: 130px; position: absolute; top: -20px; left: -60px; }
@media (max-width: 767px) { .depoimentos .carrossel-depoimentos .icon { width: 110px; left: -30px; } }
.depoimentos .carrossel-depoimentos .swiper-button-prev, .depoimentos .carrossel-depoimentos .swiper-button-next { width: 50px; height: 50px; background: #fff; display: flex; align-items: center; justify-content: center; border-radius: 50%; margin-top: 20px; box-shadow: 0px 3px 6px #00000029; transition: .3s; }
@media (max-width: 767px) { .depoimentos .carrossel-depoimentos .swiper-button-prev, .depoimentos .carrossel-depoimentos .swiper-button-next { width: 30px; height: 30px; } }
.depoimentos .carrossel-depoimentos .swiper-button-prev:after, .depoimentos .carrossel-depoimentos .swiper-button-next:after { font-size: 24px; color: #FF6D00; }
@media (max-width: 767px) { .depoimentos .carrossel-depoimentos .swiper-button-prev:after, .depoimentos .carrossel-depoimentos .swiper-button-next:after { font-size: 15px; } }
.depoimentos .carrossel-depoimentos .swiper-button-prev.swiper-button-disabled, .depoimentos .carrossel-depoimentos .swiper-button-next.swiper-button-disabled { opacity: 0; }
.depoimentos .carrossel-depoimentos .swiper-button-prev { left: -10px; transform: translateX(-50%) translateY(-50%); }
@media (max-width: 767px) { .depoimentos .carrossel-depoimentos .swiper-button-prev { left: 0; } }
.depoimentos .carrossel-depoimentos .swiper-button-prev:hover { transform: translateX(-50%) translateY(-50%) scale(1.05); }
.depoimentos .carrossel-depoimentos .swiper-button-next { right: -10px; transform: translateX(50%) translateY(-50%); }
@media (max-width: 767px) { .depoimentos .carrossel-depoimentos .swiper-button-next { right: 0; } }
.depoimentos .carrossel-depoimentos .swiper-button-next:hover { transform: translateX(50%) translateY(-50%) scale(1.05); }
.depoimentos .card { padding: 20px; box-shadow: 0px 3px 6px #00000029; border-radius: 15px; transition: .3s; background: #fff; height: 100%; }
.depoimentos .card:hover { transform: scale(1.05); box-shadow: 0px 3px 12px #00000029; }
.depoimentos .card > a { height: 150px; display: flex; align-items: center; justify-content: flex-start; }
.depoimentos .card img { width: auto; max-width: 150px; max-height: 150px; margin-bottom: 30px; }
.depoimentos .card p { margin-bottom: 15px; height: calc(100% - 150px - 54px); }
.depoimentos .card p:last-child { height: auto; }
.depoimentos .card span { font-weight: bold; display: flex; align-items: center; justify-content: flex-start; color: #FF6D00; }
@media (max-width: 767px) { .depoimentos .card span { font-size: 12px; } }
.depoimentos .card span:hover .icon { transform: translateX(50%); }
.depoimentos .card span .icon { width: 15px; margin-left: 15px; transition: .3s; fill: #FF6D00; }

.plataforma-aberta { background: #E9EBED; }
.plataforma-aberta:nth-child(even) .container > img { order: 1; }
@media (max-width: 767px) { .plataforma-aberta:nth-child(even) .container > img { order: 2; } }
.plataforma-aberta:nth-child(even) .container .text { order: 2; }
@media (max-width: 767px) { .plataforma-aberta:nth-child(even) .container .text { order: 1; } }
.plataforma-aberta .container { display: flex; align-items: center; justify-content: space-between; }
@media (max-width: 767px) { .plataforma-aberta .container { flex-wrap: wrap; } }
.plataforma-aberta .container > img { width: calc(50% - 90px); }
@media (max-width: 767px) { .plataforma-aberta .container > img { width: 100%; margin-top: 30px; } }
.plataforma-aberta .container .text { width: 50%; }
@media (max-width: 767px) { .plataforma-aberta .container .text { width: 100%; } }
.plataforma-aberta .container .text h3 { margin-bottom: 30px; }
.plataforma-aberta .container .text ul { margin-top: 30px; margin-bottom: 30px; display: flex; flex-wrap: wrap; align-items: flex-start; justify-content: flex-start; }
@media (max-width: 767px) { .plataforma-aberta .container .text ul { margin-top: 15px; margin-bottom: 15px; } }
.plataforma-aberta .container .text ul li { font: bold 14px/28px "Montserrat", sans-serif; width: 50%; }
@media (max-width: 767px) { .plataforma-aberta .container .text ul li { font: bold 12px/26px "Montserrat", sans-serif; width: 100%; } }
.plataforma-aberta .container .text p { font: 16px/26px "Montserrat", sans-serif; }
@media (max-width: 767px) { .plataforma-aberta .container .text p { font: 14px/24px "Montserrat", sans-serif; } }
.plataforma-aberta .container .text .info { display: flex; align-items: flex-start; justify-content: flex-start; margin-top: 15px; }
.plataforma-aberta .container .text .info svg { margin-right: 15px; width: 15px; }
.plataforma-aberta .container .text .info p { width: calc(100% - 30px); font: 15px/25px "Montserrat", sans-serif; }

.contact h3 { margin-bottom: 45px; text-align: center; color: #FF6D00; }
.contact .container { display: flex; align-items: flex-start; justify-content: space-between; }
@media (max-width: 767px) { .contact .container { flex-direction: column; } }
.contact .container > div { width: calc(33.33% - 30px); }
@media (max-width: 767px) { .contact .container > div { width: 100%; } }
.contact img { margin-top: 60px; }
@media (max-width: 767px) { .contact img { margin-top: 30px; } }
.contact .info { display: flex; align-items: flex-start; justify-content: flex-start; margin-bottom: 15px; }
.contact .info svg { margin-right: 15px; width: 30px; height: 30px; }
.contact p { margin-bottom: 60px; }
@media (max-width: 767px) { .contact p { margin-bottom: 30px; } }
@media (max-width: 767px) { .contact form { margin-bottom: 30px; } }
.contact form input, .contact form textarea, .contact form select { font: italic 14px/19px "Montserrat", sans-serif; padding: 15px; border-radius: 5px; border: 1px solid #B5B5B5; width: 100%; background: transparent; box-shadow: 0px 3px 6px #00000029; }
@media (max-width: 767px) { .contact form input, .contact form textarea, .contact form select { font: italic 12px/19px "Montserrat", sans-serif; padding: 10px; } }
.contact form input:not(:placeholder-shown) + label, .contact form input:focus + label, .contact form textarea:not(:placeholder-shown) + label, .contact form textarea:focus + label, .contact form select:not(:checked) + label, .contact form select:focus + label { top: 0px; z-index: 9; font-size: 11px; }
.contact form p { margin-bottom: 0; margin-top: 20px; display: none; }
.contact form p.active { display: block; }
.contact form .field { position: relative; margin-bottom: 20px; width: 100%; }
@media (max-width: 767px) { .contact form .field { margin-bottom: 10px; } }
.contact form label { position: absolute; top: 50%; left: 15px; font: italic 14px/19px "Montserrat", sans-serif; color: #263238; transition: .3s; background: #fff; padding: 0 5px; z-index: -9; transform: translateY(-50%); display: flex; }
.contact form label .req { color: #FF6D00; }
@media (max-width: 767px) { .contact form label { font: italic 12px/19px "Montserrat", sans-serif; left: 10px; } }
.contact form textarea + label { top: 25px; }
.contact .left { position: relative; }
@media (max-width: 767px) { .contact .left { order: 3; } }
.contact .left .icon { position: absolute; width: 100%; height: 100%; top: 30px; left: 0; }

.page-plataforma .banner-principal .left { padding-right: 0px; margin-top: 0px; width: 45%; }
@media (max-width: 767px) { .page-plataforma .banner-principal .left { width: 100%; } }
.page-plataforma .banner-principal .right { width: 65%; }
@media (max-width: 767px) { .page-plataforma .banner-principal .right { width: 100%; } }
.page-plataforma .banner-principal .contact { margin-top: 30px; }

.conteudo-plataforma > h3, .conteudo-talentos > h3, .esperamos > h3 { margin-bottom: 15px; text-align: center; }
.conteudo-plataforma > p, .conteudo-talentos > p, .esperamos > p { max-width: 650px; margin: 0 auto; margin-bottom: 30px; text-align: center; font: 16px/26px "Montserrat", sans-serif; }
.conteudo-plataforma:nth-child(odd) .container, .conteudo-talentos:nth-child(odd) .container, .esperamos:nth-child(odd) .container { flex-direction: row-reverse; }
@media (max-width: 767px) { .conteudo-plataforma:nth-child(odd) .container, .conteudo-talentos:nth-child(odd) .container, .esperamos:nth-child(odd) .container { flex-direction: column; } }
.conteudo-plataforma .container, .conteudo-talentos .container, .esperamos .container { display: flex; justify-content: space-between; align-items: center; }
@media (max-width: 767px) { .conteudo-plataforma .container, .conteudo-talentos .container, .esperamos .container { flex-direction: column; } }
.conteudo-plataforma .text, .conteudo-talentos .text, .esperamos .text { width: 45%; }
@media (max-width: 767px) { .conteudo-plataforma .text, .conteudo-talentos .text, .esperamos .text { width: 100%; } }
.conteudo-plataforma .text h3, .conteudo-plataforma .text h4, .conteudo-talentos .text h3, .conteudo-talentos .text h4, .esperamos .text h3, .esperamos .text h4 { margin: 15px 0px; }
.conteudo-plataforma .text p, .conteudo-talentos .text p, .esperamos .text p { font: 18px/28px "Montserrat", sans-serif; }
@media (max-width: 767px) { .conteudo-plataforma .text p, .conteudo-talentos .text p, .esperamos .text p { font: 14px/24px "Montserrat", sans-serif; } }
.conteudo-plataforma .text strong, .conteudo-talentos .text strong, .esperamos .text strong { color: #FF6D00; }
.conteudo-plataforma .image, .conteudo-talentos .image, .esperamos .image { position: relative; width: calc(47% - 90px); display: flex; align-items: center; justify-content: center; height: 0; padding-bottom: calc(37% - 90px); }
@media (max-width: 767px) { .conteudo-plataforma .image, .conteudo-talentos .image, .esperamos .image { width: 100%; padding-bottom: calc(100% - 90px); } }
.conteudo-plataforma .image .icon, .conteudo-talentos .image .icon, .esperamos .image .icon { position: absolute; width: 100%; height: 100%; z-index: -9; fill: #FF6D00; top: 0; left: 0; }
.conteudo-plataforma .image img, .conteudo-talentos .image img, .esperamos .image img { width: 95%; position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); background: #fff; border-top: 5px solid #FF6D00; }

.melhor-uso h3 { text-align: center; margin-bottom: 30px; color: #FF6D00; }
.melhor-uso .content { display: flex; justify-content: space-evenly; margin: -15px; }
@media (max-width: 767px) { .melhor-uso .content { flex-direction: column; } }
.melhor-uso .content .card { width: 25%; margin: 15px; padding: 20px; box-shadow: 0px 3px 6px #00000029; border-radius: 15px; transition: .3s; }
@media (max-width: 767px) { .melhor-uso .content .card { width: calc(100% - 40px); } }
.melhor-uso .content .card:hover { transform: scale(1.05); box-shadow: 0px 3px 12px #00000029; }
.melhor-uso .content .card img { width: 100%; margin-bottom: 15px; }
.melhor-uso .content .card p { margin-bottom: 15px; color: #FFA000; }
.melhor-uso .content .card p strong { font-size: 20px; color: #263238; }
@media (max-width: 767px) { .melhor-uso .content .card p strong { font-size: 16px; } }
.melhor-uso .content .card span { font-weight: bold; display: flex; align-items: center; justify-content: flex-start; color: #FF6D00; }
@media (max-width: 767px) { .melhor-uso .content .card span { font-size: 12px; } }
.melhor-uso .content .card span:hover .icon { transform: translateX(50%); }
.melhor-uso .content .card span .icon { width: 15px; margin-left: 15px; transition: .3s; fill: #FF6D00; }
.melhor-uso .btn { display: block; margin: 0 auto; margin-top: 60px; width: max-content; }
@media (max-width: 767px) { .melhor-uso .btn { margin-top: 30px; } }

.banner-principal-talentos { position: relative; }
@media (max-width: 767px) { .banner-principal-talentos { background: #E9EBED; } }
.banner-principal-talentos:after { position: absolute; left: 0; top: 50%; display: block; content: ''; width: 100%; height: 60%; background: #E9EBED; transform: translateY(-50%); z-index: -9; }
.banner-principal-talentos .container { display: flex; align-items: center; }
@media (max-width: 767px) { .banner-principal-talentos .container { flex-direction: column; } }
.banner-principal-talentos .left { width: 35%; padding-right: 60px; }
@media (max-width: 767px) { .banner-principal-talentos .left { width: 100%; padding-right: 0; padding-bottom: 15px; } }
.banner-principal-talentos .right { width: 65%; }
@media (max-width: 767px) { .banner-principal-talentos .right { width: 100%; } }
.banner-principal-talentos p { font: 20px/30px "Montserrat", sans-serif; letter-spacing: 1.4px; }
@media (max-width: 767px) { .banner-principal-talentos p { font: 14px/24px "Montserrat", sans-serif; } }

.oportunidades .container { max-width: 1150px; }
.oportunidades .container > p { font: 16px/26px "Montserrat", sans-serif; letter-spacing: 1.4px; text-align: center; }
@media (max-width: 767px) { .oportunidades .container > p { font: 12px/22px "Montserrat", sans-serif; } }
.oportunidades .container h3 { text-align: center; margin-bottom: 15px; color: #FF6D00; }
.oportunidades .container h4 { margin-top: 30px; margin-bottom: 15px; }
.oportunidades .container .items .item { display: flex; justify-content: space-between; padding: 10px; border: 1px solid #F3F3F3; box-shadow: 0px 3px 6px #00000029; border-radius: 5px; }
@media (max-width: 767px) { .oportunidades .container .items .item { flex-direction: column; text-align: center; } }
.oportunidades .container .items .item:not(:last-child) { margin-bottom: 15px; }
.oportunidades .container .items .item p { width: 33%; }
@media (max-width: 767px) { .oportunidades .container .items .item p { width: 100%; } }
.oportunidades .container .items .item a { font: 14px/24px "Montserrat", sans-serif; text-decoration: underline; color: #FF6D00; transition: .3s; }
@media (max-width: 767px) { .oportunidades .container .items .item a { font: 12px/22px "Montserrat", sans-serif; } }
.oportunidades .container .items .item a:hover { color: #FFA000; }

.motivacao { background: #E9EBED; padding-bottom: 175px; }
.motivacao h3 { text-align: center; margin-bottom: 60px; color: #FF6D00; }
@media (max-width: 767px) { .motivacao h3 { margin-bottom: 30px; } }
.motivacao .content { margin: -15px; display: flex; align-items: flex-start; }
@media (max-width: 767px) { .motivacao .content { flex-direction: column; } }
.motivacao .content .item { padding: 15px; width: 25%; text-align: center; }
@media (max-width: 767px) { .motivacao .content .item { width: 100%; } }
.motivacao .content .item img { margin: 0 auto; margin-bottom: 15px; width: 50%; }

.visao { margin-top: -130px; }
.visao .container { display: flex; align-items: flex-start; justify-content: center; }
@media (max-width: 767px) { .visao .container { flex-wrap: wrap; } }
.visao .texto-principal { width: 30%; }
@media (max-width: 767px) { .visao .texto-principal { width: 100%; } }
.visao .texto-principal h3 { font: bold 75px/85px "Montserrat", sans-serif; text-transform: uppercase; max-width: 250px; }
@media (max-width: 767px) { .visao .texto-principal h3 { font: bold 50px/60px "Montserrat", sans-serif; max-width: 250px; } }
.visao .texto-principal p { font: bold 20px/30px "Montserrat", sans-serif; max-width: 300px; }
@media (max-width: 767px) { .visao .texto-principal p { font: bold 15px/25px "Montserrat", sans-serif; margin-bottom: 30px; } }
.visao .visao-time { position: relative; width: 55%; }
@media (max-width: 767px) { .visao .visao-time { width: 100%; } }
.visao .visao-time .swiper-container { overflow: initial; }
.visao .visao-time .swiper-slide { height: auto; opacity: 0 !important; }
.visao .visao-time .swiper-slide.swiper-slide-active { opacity: 1 !important; }
.visao .visao-time .time { display: flex; align-items: flex-start; justify-content: flex-start; box-shadow: 0px 3px 6px #00000029; padding: 60px; border-radius: 15px; background: #fff; margin: 2px; height: 100%; }
@media (max-width: 767px) { .visao .visao-time .time { flex-direction: column; padding: 30px 15px; } }
.visao .visao-time .time .text { width: 100%; }
@media (max-width: 767px) { .visao .visao-time .time .text { width: 100%; } }
.visao .visao-time .time .text > p { padding: 0 30px; position: relative; font: 16px/26px "Montserrat", sans-serif; }
@media (max-width: 767px) { .visao .visao-time .time .text > p { font: 14px/24px "Montserrat", sans-serif; } }
.visao .visao-time .time .text > p .aspas-inicio { font-size: 65px; position: absolute; left: 0; color: #FFA000; top: 0; }
.visao .visao-time .time .text > p .aspas-final { font-size: 65px; position: absolute; right: 5px; color: #FFA000; bottom: -10px; }
.visao .visao-time .time .text .person { display: flex; align-items: center; justify-content: flex-start; margin-top: 60px; }
.visao .visao-time .time .text .person img { border-radius: 50%; margin-right: 15px; width: 85px; height: 85px; object-fit: cover; }
.visao .visao-time .swiper-button-prev, .visao .visao-time .swiper-button-next { width: 60px; height: 60px; background: #fff; display: flex; align-items: center; justify-content: center; border-radius: 50%; margin-top: 0; box-shadow: 0px 3px 6px #00000029; transition: .3s; }
@media (max-width: 767px) { .visao .visao-time .swiper-button-prev, .visao .visao-time .swiper-button-next { width: 30px; height: 30px; } }
.visao .visao-time .swiper-button-prev:after, .visao .visao-time .swiper-button-next:after { font-size: 24px; color: #FF6D00; }
@media (max-width: 767px) { .visao .visao-time .swiper-button-prev:after, .visao .visao-time .swiper-button-next:after { font-size: 15px; } }
.visao .visao-time .swiper-button-prev.swiper-button-disabled, .visao .visao-time .swiper-button-next.swiper-button-disabled { opacity: 0; }
.visao .visao-time .swiper-button-prev { left: 0; transform: translateX(-50%) translateY(-50%); }
.visao .visao-time .swiper-button-prev:hover { transform: translateX(-50%) translateY(-50%) scale(1.05); }
.visao .visao-time .swiper-button-next { right: 0; transform: translateX(50%) translateY(-50%); }
.visao .visao-time .swiper-button-next:hover { transform: translateX(50%) translateY(-50%) scale(1.05); }

.esperamos { position: relative; }
@media (max-width: 767px) { .esperamos { background: #F3F3F3; } }
.esperamos:after { position: absolute; left: 0; top: 50%; display: block; content: ''; width: 100%; height: 55%; background: #F3F3F3; transform: translateY(-50%); z-index: -99; }
.esperamos .text { text-align: center; }
.esperamos .text h3 { margin: 0; }
.esperamos .text .btn { margin-top: 30px; display: inline-block; }
.esperamos .image .icon { z-index: 0; }

.plans { background: radial-gradient(116.81% 110.52% at 107.78% -6.24%, #FF6D00 0, #FFA000 55.72%, #8ef9f3 100%); position: relative; }
.plans .triangle { bottom: -.25px; border-color: transparent transparent transparent #fff; border-right-width: 0; border-bottom-width: 0; border-left-width: 150vw; position: absolute; border-style: solid; border-top-width: 30rem; z-index: 1; }
.plans .container > p { font: 16px/26px "Montserrat", sans-serif; letter-spacing: 1.4px; text-align: center; margin-bottom: 30px; }
@media (max-width: 767px) { .plans .container > p { font: 12px/22px "Montserrat", sans-serif; } }
.plans .container h2 { text-align: center; margin-bottom: 30px; }
.plans .content { display: flex; justify-content: center; margin: -20px; }
@media (max-width: 767px) { .plans .content { flex-direction: column; } }
.plans .content .plan { margin: 20px; width: 33.33%; padding: 30px; box-shadow: 0px 3px 6px #00000029; border-radius: 15px; text-align: center; background: #fff; z-index: 2; }
@media (max-width: 767px) { .plans .content .plan { width: calc(100% - 40px); } }
.plans .content .plan:nth-child(odd) { margin-top: 45px; }
@media (max-width: 767px) { .plans .content .plan:nth-child(odd) { margin-top: 20px; } }
.plans .content .plan > .icon { width: 127px; height: 127px; }
.plans .content .plan img { margin: 0 auto; }
.plans .content .plan img.icon-plan { border-radius: 50%; margin-bottom: 30px; }
.plans .content .plan .plan-name, .plans .content .plan .btn, .plans .content .plan .price, .plans .content .plan hr, .plans .content .plan h5 { margin-bottom: 30px; }
@media (max-width: 767px) { .plans .content .plan .plan-name, .plans .content .plan .btn, .plans .content .plan .price, .plans .content .plan hr, .plans .content .plan h5 { margin-bottom: 15px; } }
.plans .content .plan .btn { display: inline-block; }
.plans .content .plan hr { border-color: #F3F3F3; border-top: 0; }
.plans .content .plan .info { display: flex; align-items: flex-start; justify-content: center; margin-bottom: 30px; margin-top: -15px; }
.plans .content .plan .info svg { margin-right: 15px; width: 15px; }
.plans .content .plan .info p { width: 100%; font: 15px/25px "Montserrat", sans-serif; text-align: left; }

.compare h3 { text-align: center; margin-bottom: 30px; color: #FF6D00; }
.compare .content { position: relative; }
.compare .content .line1, .compare .content .line2 { position: absolute; top: 0; width: 1px; height: 100%; background: #F3F3F3; }
@media (max-width: 767px) { .compare .content .line1, .compare .content .line2 { display: none; } }
.compare .content .line1 { right: calc(50% / 3); }
.compare .content .line2 { right: calc((50% / 3) * 2); }
.compare .content .title, .compare .content .item { display: flex; align-items: flex-end; justify-content: center; flex-wrap: wrap; }
.compare .content .title h4, .compare .content .title h6, .compare .content .item h4, .compare .content .item h6 { width: 50%; }
@media (max-width: 767px) { .compare .content .title h4, .compare .content .title h6, .compare .content .item h4, .compare .content .item h6 { width: 100%; text-align: center; margin-bottom: 15px; } }
.compare .content .title .column, .compare .content .item .column { width: calc(50% / 3); text-align: center; }
@media (max-width: 767px) { .compare .content .title .column, .compare .content .item .column { width: calc(100% / 3); } }
.compare .content .title { margin-bottom: 30px; position: sticky; top: 80px; background: #fff; margin: 0 -5px; }
.compare .content .title .column img { border-radius: 50%; margin: 0 auto; margin-bottom: 20px; }
.compare .content .title .column .icon { width: 70px; height: 70px; }
.compare .content .title .column h6 { text-align: center; width: 100%; }
.compare .content .title .column .btn { display: block; width: max-content; margin: 0 auto; margin-top: 15px; }
@media (max-width: 767px) { .compare .content .title .column .btn { font: 600 10px/20px "Montserrat", sans-serif; padding: 5px 10px; min-width: 100px; } }
.compare .content h4 { margin-bottom: 30px; margin-top: 30px; }
@media (max-width: 767px) { .compare .content h4 { text-align: center; } }
.compare .content .item { padding: 15px; border: 1px solid #F3F3F3; box-shadow: 0px 3px 6px #00000029; border-radius: 5px; padding-right: 0; }
.compare .content .item:not(:last-child) { margin-bottom: 15px; }
.compare .container > .btn { margin: 0 auto; display: block; width: max-content; margin-top: 60px; }

.frequent-questions .container { max-width: 1150px; }
.frequent-questions h3 { text-align: center; margin-bottom: 30px; color: #FF6D00; }
.frequent-questions .question { padding: 15px; border: 1px solid #F3F3F3; box-shadow: 0px 3px 6px #00000029; border-radius: 5px; }
.frequent-questions .question:not(:last-child) { margin-bottom: 15px; }
.frequent-questions .question h6 { display: flex; align-items: center; justify-content: space-between; cursor: pointer; }
.frequent-questions .question h6:after { content: '+'; }
.frequent-questions .question h6.open:after { content: '-'; }
.frequent-questions .question .text { height: 0; overflow: hidden; transition: .3s; }
.frequent-questions .question .text p { padding-top: 10px; }
