header{
    .top{
        padding: 10px 0;
        border-bottom: 1px solid #ffffff2e;
        .links{
            ul{
                display: flex;
                align-items: center;
                justify-content: flex-end;
                a{
                    color: $branco;
                    font-size: 12px;
                    margin-left: 20px;
                    transition: .3s;
                    &:hover{
                        color: $cinza-escuro;
                    }
                }
            }
        }
    }
    .bottom{
        padding: 10px;
        .content, .menu, ul{
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        .logo{
            width: 15%;
        }
        .menu{
            width: 85%;
            a{
                color: $branco;
                font-size: 14px;
                transition: .3s;
                &:hover{
                    color: $cinza-escuro;
                }
            }
            li{
                &:not(:last-child){
                    a{
                        margin-right: 50px;
                    }
                }
            }
        }

    }
    .logo-text {
        font-family: "Montserrat", sans-serif;
        font-weight: 600;
        color: $branco;
        display: inline-block;
        line-height: 1em;
        letter-spacing: 0.02em;
    }    
    .logo-text::first-letter {
        color: $branco;
        font-size: 1.1em;
    }
    @include media('xs'){
        .bottom{
            .menu{
                display: none;
            }
        }
    }
}