$laranja-escuro: #B24D19;
$laranja-claro: #F88D5B;
$cinza-escuro: #27384B;
$cinza-claro: rgb(190, 190, 190);
$branco: #FFFFFF;

$font-family: 'Roboto', sans-serif;
$font-logo: 'Montserrat', sans-serif; 